/* Reset */
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html 
{
  scroll-behavior: smooth;
}

body 
{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background-color: transparent; /* Ubah dari #fff */
  color: #333;
}
.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 20px;
  justify-items: center;
}

.team-member {
  width: 100%;
  max-width: 180px;
  text-align: center;
}

.photo-wrapper {
  background-color: #E6002A;
  width: 100%;
  max-width: 160px;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.photo-wrapper img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.team-member h4 {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 1rem;
  font-weight: 600;
}

.team-member p {
  font-size: 0.9rem;
  color: #444;
  margin: 0;
}

/* RESPONSIF */
@media (max-width: 1024px) {
  .team-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .team-grid {
    grid-template-columns: 1fr;
  }

  .team-member {
    max-width: 200px;
  }
}


/* HERO SECTION */
.hero {
  position: relative;
  height: 100vh;
  background-image: url('assets/cover.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero .overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: transparent;
}

.hero .content {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 8rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  background: #E6002A;
  color: white;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
 transition: background 0.3s;
}

.btn:hover {
  background: #E60000;
}


/* SECTION */
.section {
  padding: 80px 20px;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.cta {
  background-color: transparent;
}

footer {
  padding: 30px;
  text-align: center;
}



